In [3]:
import pandas as pd
import numpy as np
import seaborn as sns #visualização de dados
import matplotlib.pyplot as plt #visualização de dados

In [5]:
empregado_df = pd.read_csv('C:/Users/andy_/Documents/CursosUdemy - Arquivos/Ciência de Dados para Empresas e Finanças/Recursos Humanos/Bases de dados/Human_Resources.csv')

In [6]:
saidas_df = empregado_df[empregado_df['Attrition']==1]
continuidade_df = empregado_df[empregado_df['Attrition']==0]

In [13]:
temporario_cat = empregado_df[['BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus']]
temporario_cat

,BusinessTravel,Department,EducationField,Gender,JobRole,MaritalStatus
0,Travel_Rarely,Sales,Life Sciences,Female,Sales Executive,Single
1,Travel_Frequently,Research & Development,Life Sciences,Male,Research Scientist,Married
2,Travel_Rarely,Research & Development,Other,Male,Laboratory Technician,Single
3,Travel_Frequently,Research & Development,Life Sciences,Female,Research Scientist,Married
4,Travel_Rarely,Research & Development,Medical,Male,Laboratory Technician,Married
...,...,...,...,...,...,...
1465,Travel_Frequently,Research & Development,Medical,Male,Laboratory Technician,Married
1466,Travel_Rarely,Research & Development,Medical,Male,Healthcare Representative,Married
1467,Travel_Rarely,Research & Development,Life Sciences,Male,Manufacturing Director,Married
1468,Travel_Frequently,Sales,Medical,Male,Sales Executive,Married
1469,Travel_Rarely,Research & Development,Medical,Male,Laboratory Technician,Married

In [14]:
temporario_cat = pd.DataFrame(temporario_cat)

In [21]:
from sklearn.preprocessing import OneHotEncoder
onehotencoder = OneHotEncoder()
temporario_cat = onehotencoder.fit_transform(temporario_cat).toarray()
temporario_cat.shape
type(temporario_cat)
temporario_cat = pd.DataFrame(temporario_cat)

In [22]:
temporario_num = empregado_df[['Age','DailyRate','DistanceFromHome','Education','EnvironmentSatisfaction','HourlyRate','JobInvolvement','JobLevel','JobSatisfaction','PerformanceRating','RelationshipSatisfaction','StockOptionLevel','TotalWorkingYears','TrainingTimesLastYear','WorkLifeBalance','YearsAtCompany','YearsInCurrentRole','YearsSinceLastPromotion','YearsWithCurrManager']]
temporario_num = pd.DataFrame(temporario_num)

In [23]:
temp_geral = pd.concat([temporario_cat,temporario_num], axis =1)
temp_geral

,0,1,2,3,4,5,6,7,8,9,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,...,3,1,0,8,0,1,6,4,0,5
1,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,...,4,4,1,10,3,3,10,7,1,7
2,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,...,3,2,0,7,3,3,0,0,0,0
3,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,...,3,3,0,8,3,3,8,7,3,0
4,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,...,3,4,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,...,3,3,1,17,3,3,5,2,0,3
1466,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,...,3,1,1,9,5,3,7,7,1,7
1467,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,...,4,2,1,6,0,3,6,2,0,3
1468,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,...,3,4,0,17,3,2,9,6,0,8
1469,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,...,3,1,0,6,3,4,4,3,1,2

In [1]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
x = scaler.fit_transform(temp_geral)
y = empregado_df['Attrition'].apply(lambda x: 1 if x=='Yes' else 0)
y

NameError: name 'temp_geral' is not defined

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size = 0.25)

In [26]:
X_train.shape, Y_train

((1102, 71),
 1406    No
 1415    No
 314     No
 267     No
 784     No
         ..
 351     No
 427     No
 535     No
 1004    No
 979     No
 Name: Attrition, Length: 1102, dtype: object)

NameError: name 'LogisticRegression' is not defined